* {
  text-align: center;
}

html body {
  background-color: #82efee;
  font-family: 'Open Sans', sans-serif !important;
}

body {
  width: 100%;
  font-weight: 100;
  margin: 0;
}

.navbar {
  background-color: #128a08;
}

nav a {
  color: #cfbca6;
}

.about-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-top: 4rem;
 margin-bottom: 4rem;
}

.about {
 margin-top: 4rem;
 margin-bottom: 4rem;
}

.headshot {
  width: 12em;
}

.about-bio {
  text-align: left;
  padding: 1.5rem;
  margin-top: 2rem;
  max-width: 550px;
}

.skills {
 padding-bottom: 2rem;
}

.skills-container { 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.skill img {
  padding: 2rem;
}

.skill img:hover {
animation: shake 0.5s; 
animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.contact-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin: 2rem 0;
}

.contact-container a {
 margin: 2rem;
}